$first-theme-third-background: hsl(0, 0%, 93%);

.calculatorResult {
  height: 5.4rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-color: $first-theme-third-background;
  z-index: 10;
}